/*Telefono*/

@media (max-width: 576px) {
    body{
        margin: 0px;
        border: 0px;
    }

    .Container{
        height: 100vh;
        display: grid;
        grid-template-areas:
        "B B B B"
        "A A A A"
        "C C C C"
        "C C C C"
        "C C C C"
        "C C C C"
        "C C C C"
        "C C C C"
        "C C C C"
        "C C C C"
        "C C C C"
        "D D D D";

    }

    .Cabeza{
        grid-area: A;
        background-color: #BA5536;
        text-align: center;
        padding: 10px;
    }

    .ElementosTCG{
        display: none;
    }

    #Rotación{
        appearance: none;
        width: 80%;
        text-align: center;
        
    }

    .Barra{
        grid-area: B;
        background-color: #A43820;
        display: flex;
        justify-content: space-around;
        grid-area: B;
        text-align: center;
        padding-left: 0%;
    }

    .Logo{
        width: 50px;
        height: 50px;
    }

    .Pc{
        display: none;
    }

    .Cuerpo{
        grid-area: C;
        padding: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        background-color: #C9B4A2;
    }

    .Muestra{
        background-color: white;
        border: solid 1px;
        margin: 10px;
        padding-right: 0px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .Megas{
        color: black;
        transition: all 1s;
    }

    .Megas:hover{
        color: darkcyan;
    }

    .boton{
        background-color: rgb(230, 107, 66);
        padding: 7px;
        border-radius: 5px;
        transition: background-color 1s ease-out;
        transform: scale(1.0) 1s ease-in;
    }

    .boton:hover{
        background-color: burlywood;
        transform: scale(1.2);
    }

    .FondoCuerpo{
        background-size: cover;
        background-repeat: repeat-y;
    }

    .card-img-top{
        border-radius: 12px;
        transform: rotate(0deg);

    }

    .card-img-top:hover{
        border-radius: 12px;
        transform: rotate(45deg);
    }

    .Pie{
        grid-area: D;
        background-color: #693D3D;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
    }
}

/*Computador*/

@media (min-width: 940px) {
    body{
        margin: 0px;
        border: 0px;
    }

    .Container{
        height: 100vh;
        display: grid;
        grid-template-areas:
        "B A A A A A A A A A"
        "B C C C C C C C C C"
        "B C C C C C C C C C"
        "B C C C C C C C C C"
        "B C C C C C C C C C"
        "B C C C C C C C C C"
        "B C C C C C C C C C"
        "D D D D D D D D D D";
    }

    .Cabeza{
        grid-area: A;
        background-color: #BA5536;
        text-align: center;
        padding: 10px;
        font-size: 30px;
    }

    .ElementosTCG{
        width: 250px;
        height: 50px;
    }

    #Rotación{
        appearance: none;
        width: 80%;
        text-align: center;
        
    }

    .Barra{
        grid-area: B;
        background-color: #A43820;
        font-size: 20px;
    }

    .Pc{
        font-size: 20px;
        transform: scaleY(1.0) 1s ease-in;
    }

    .Pc:hover{
        transform: scaleY(1.1);
        
    }

    .Logo{
        width: 50px;
        height: 50px;
    }

    .Hamburgesa{
        display: none;
    }

    .Cuerpo{
        grid-area: C;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        border: 10px;
        padding: 10px;
        
    }

    .card{
        border-radius: 5px;
    }

    .FondoCuerpo{
        background-size: cover;
    }

    .card-img-top{
        border-radius: 12px;
        transform: scale(1.0) 1s ease-in;
    }

    .card-img-top:hover{
        transform: scale(1.1);
    }

    .boton{
        border-radius: 5px;
        transform: scale(1.0) 1s ease-in;
        transition: background-color 1s ease-out;
    }

    .boton:hover{
        transform: scale(1.3);
        background-color: crimson;
    }

    .Megas{
        transition: background-color 1s ease-out;
    }

    .Megas:hover{
        background-color: indigo;
        color: whitesmoke;
    }

    .Pie{
        grid-area: D;
        background-color: #693D3D;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }

    .fa-brands{
        transform: scale(1.0) 1s ease-out;
    }

    .fa-brands:hover{
        transform: scale(1.4);
        color: whitesmoke;
    }
}